@charset "utf-8";

@media screen and (max-width: 321px) {
  body, input, select  {
    font-size: 12px;
  }
  h1 {
    font-size: 20.21px;
  }
  h2, .main-btn {
    font-size: 15.325px;
  }
  .terms {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) and (max-width:400px) {
  body, input, select {
    font-size: 14px;
  }
  h1 {
    font-size: 22.21px;
  }
  h2, .main-btn {
    font-size: 17px;
  }
  .terms {
    font-size: 13px;
  }
}

@media screen and (min-width: 400px) {
  body, input, select  {
    font-size: 16px;
  }
  h1 {
    font-size: 24.21px;
  }
  h2, .main-btn {
    font-size: 19.325px
  }
  .terms {
    font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
  background: url(../image/main-bg.png) no-repeat top / 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a, button, input, select {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
input::-webkit-input-placeholder {
  color: #AAAAAA;
}
input:focus::-webkit-input-placeholder{ 
  color: #EEEEEE;
}
.clear {
  zoom:1; 
}
.clear:after { 
  content:'';
  display:block;
  clear:both;
}
.main {
  height: 8.44rem;
  padding: 2.92rem 0 0;
}
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: .23rem .44rem 0;
  background: #fff;
}
h1 {
  margin: .23rem 0 .43rem;
  color: #b10010;
  line-height: .6rem;
  font-weight: bold;
  text-align: center;
}
h2 {
  margin: 0 0 .15rem;
  color: #b10010;
  text-align: center;
  line-height: 1;
  font-weight: bold;
}

.form-wrapper {
  margin-bottom: .29rem;
}
.form-rows {
  position: relative;
  padding: .13rem 0;
}
.form-rows:after{
  content: " ";
  position: absolute;
  bottom: -.02rem;
  right: 0;
  left: 0;
  height: 1px;
  border-bottom: 1px solid #dcdcdc;
  color: #C7C7C7;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.form-rows label {
  position: relative;
  display: block;
  float: left;
  width: 1.76rem;
  line-height: .45rem;
  color: #b50029;
}
.form-rows label:after{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid #dcdcdc;
  color: #C7C7C7;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}

.form-rows span {
  display: block;
  float: left;
  margin: 0 .09rem 0 .02rem;
  width: .30rem;
  height: .45rem;
}
.form-rows input,
.form-rows select {
  width: 3.43rem;
  border: none;
  padding: 0 .16rem 0;
  margin: 0;
  float:left;
  line-height: .45rem;
  outline: none;
}
.msg-num + input {
  width: 2.17rem;
}
.locale-select {
  position: relative;
  width: 1.5rem;
  height: .45rem;
  margin-right: .1rem;
  float: left;
}
.locale-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -.04rem;
  z-index: 0;
  display: block;
  width: 0;
  height: 0;
  border-width: .08rem;
  border-color: transparent;
  border-style: solid;
  border-top-color: #838281;
}
.form-rows select {
  -webkit-appearance: none;
  width: 100%;
  text-align: left;
  color: #AAAAAA;
}

.user-name span {
  background: url(../image/user_name.png) no-repeat center / 100%;
}
.phone-num span {
  background: url(../image/phone_num.png) no-repeat center / 100%;
}
.id-num span {
  background: url(../image/id_num.png) no-repeat center / 100%;
}
.locale span {
  background: url(../image/locale.png) no-repeat center / 100%;
}
.validate-num span {
  background: url(../image/validate_num.png) no-repeat center / 100%;
}
.msg-num span {
  background: url(../image/msg_num.png) no-repeat center / 100%;
}
.terms {
  position: relative;
  margin: 0 0 .29rem;
  text-align: center;
  color: #AAAAAA;
  line-height: .23rem;
  vertical-align: middle;
}
.terms a {
  color: #b50029;
}
.terms input {
  width: .24rem;
  height: .24rem;
  -webkit-appearance: none;
  border: none;
  margin: 0;
  outline: none;
  vertical-align: middle;
}
.terms input:checked {
  background: none;
}
.terms input::before {
  content: "";
  display: block;
  position: absolute;
  width: .23rem;
  height: .23rem;
  background: url(../image/terms_uncheck.png) no-repeat top center / 100%;
}
.terms input:checked::before {
  background: url(../image/terms_check.png) no-repeat top center / 100%;
}
.main-btn {
  width: 100%;
  height: .72rem;
  -webkit-appearance: none;
  outline: none;
  margin: 0 0 .24rem;
  padding: 0;
  border: none;
  border-radius: .08rem;
  background: #b50029;
  color: #fff;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.qr-codes {
  position: relative;
  width: 3.92rem;
  height: 1.35rem;
  margin: auto;
}
.qr-codes img {
  height: 1.35rem;
  float: right;
}
.qr-codes img:first-child {
  float: left;
}
.qr-codes::after {
  content: " ";
  position: absolute;
  top: .06rem;
  left: 50%;
  bottom: .06rem;
  width: 1px;
  border-right: 1px solid #dcdcdc;
  color: #C7C7C7;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}