@charset "utf-8";

@import url(style.css);

body {
  background: none;
}
.main {
  padding: .53rem .26rem .5rem;
  height: auto;
}
.container {
  padding: 0;
  height: auto;
  color: #848484
}
.container h1 {
  position: relative;
  color: #848484;
  font-size: .28rem;
  text-align: center;
  line-height: 1;
  margin: 0 0 .37rem;
  padding: 0 0 .36rem;
}
.container h3 {
  font-size: .21rem;
  margin: .38rem 0 0;
}
.container h1::after {
  content: " ";
  position: absolute;
  bottom: -.04rem;
  right: 0;
  left: 0;
  height: 1px;
  border-bottom: 1px solid #dbdada;
  color: #C7C7C7;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.container p {
  font-size: .21rem;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
  text-align: justify;
}
.container a {
  color: #a00014;
}
.summary {
  text-indent: .4rem;
}
.indent {
  padding-left: .18rem;
}
.container .inscribe {
  margin: .38rem 0 .38rem;
  float: right;
}
.main-btn {
  display: block;
  width: 5.52rem;
  margin: 0 auto;
}